<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- QR 인식 관련 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="동행"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithMe"
        tools:targetApi="31">
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.guide.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".screen.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.TargetActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.ControllerActivity"
            android:exported="false" />
        <activity
            android:name=".screen.start.StartActivity"
            android:exported="false"/>
        <service
            android:name=".service.VolumeControlService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".service.BrightnessControlService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>
</manifest>